// Variables

$medium: 640px;
$ipad: 768px;
$large: 1160px;
$xlarge: 1280px;


// Media Queries
@mixin breakpoint($point) {
  @if $point == medium {
    @media (min-width: $medium) { @content; }
  }
  @elseif $point == ipad {
    @media (min-width: $ipad) { @content; }
  }
  @elseif $point == large {
    @media (min-width: $large) { @content; }
  }
  @elseif $point == xlarge {
    @media (min-width: $xlarge) { @content; }
  }    
}